<div class="header-wrapper">
	<div class="header-container">
		<a href="/" class="logo">车尚-高清汽车图片分享交流社区</a>
		<div class="container-bar">
			<div class="search none">
				<form method="get" action="search">
					<input type="text" name="key" value="" class="search-text" autocomplete="off" placeholder="搜索汽车" />
					<button type="suubmit" class="search-btn" title="搜索"></button>
				</form>
			</div>

			{%  if not current_user %}
			<div class="auth-box">
				<a href="/signin" class="a-go-login">登 陆</a>
				<a href="/signup" class="a-go-reg">注 册</a>
			</div>
            {% else %}
			<div class="auth-box">
                <div class="auth-me">
                    <div class="auth-menu-box">
                        <a href="/me/settings" class="auth-menu-setting"></a>
                        <a href="/me/signout" class="auth-menu-logout"></a>
                    </div>
                    <a href="/me" class="a-go-me" title="{{ current_user.name }}" style="background:rgba(1,1,1,0.3);">
                        {% if not current_user.ico %}
                        <img src="/static/imgs/avatar.png" />
                        {% else %}
                        <img src="{{ current_user.ico }}" />
                        {% endif %}
                    </a>
                </div>
				<a href="/album/new" class="a-go-reg" style="padding:8px 30px">上传车图</a>
			</div>
			{% endif %}
            
            <div class="sina-wb-follow-btn">
                <wb:follow-button uid="3102927765" type="red_1" width="63" height="24" ></wb:follow-button>
            </div>
		</div>

	</div>
</div><!--end header-wrapper-->
