
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="static/css/reset.css"></link>
<link type="text/css" rel="stylesheet" href="static/css/qichebook.css"></link>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/settings.js"></script>
</head>
<body>
	<div class="page-wrapper">
		<div class="header-wrapper" style="height:60px;">
			<a class="s-logo" href="index.html">汽车book</a>
			<div class="settings-header-uinfo">
				<img src="static/photo/user1.jpg" />
				<a href="">一地鸡毛</a>
			</div>
		</div><!--end header-wrapper-->
		
		<div class="nav-box" style="margin-top:30px;margin-bottom:20px;">
			<a href="settings.html">基本信息</a>
			<a href="avatar.html">设置头像</a>
			<a class="current-nav" href="sync.html">设置同步</a>
		</div>
		
		<div class="container-wrapper">
			<div class="settings-container">
				<p>把你发布的高清汽车图片分享到以下平台：</p>
				<p>
					<span class="sync-ico auth-renren"></span>
					<span><a href="">绑定人人网账号</a></span>
				</p>
				<p>
					<span class="sync-ico auth-renren"></span>
					<span><a href="">绑定新浪微博账号</a></span>
				</p>
				<p>
					<span class="sync-ico auth-renren"></span>
					<span><a href="">绑定QQ账号</a></span>
				</p>
				<p>
					<span class="sync-ico auth-renren"></span>
					<span><a href="">绑定豆瓣账号</a></span>
				</p>
			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>