
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="static/css/reset.css"></link>
<link type="text/css" rel="stylesheet" href="static/css/qichebook.css"></link>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/settings.js"></script>
</head>
<body>
	<div class="page-wrapper">
		<div class="header-wrapper" style="height:60px;">
			<a class="s-logo" href="index.html">汽车book</a>
			<div class="settings-header-uinfo">
				<img src="static/photo/user1.jpg" />
				<a href="">一地鸡毛</a>
			</div>
		</div><!--end header-wrapper-->
		
		<div class="nav-box" style="margin-top:30px;margin-bottom:20px;">
			<a href="settings.html">基本信息</a>
			<a class="current-nav" href="avatar.html">设置头像</a>
			<a href="sync.html">设置同步</a>
		</div>
		
		<div class="container-wrapper">
			<div class="settings-container">
				<div class="form-left-box">
					<form action="" method="post" enctype="multipart/form-data">
						<p class="form-content-p">
							<img src="static/photo/user1.jpg" width="300" />
							<img src="static/photo/user1.jpg" width="100" />
							<img src="static/photo/user1.jpg" width="50" />
						</p>
						<p class="form-content-p">
							<input type="file" name="avatar" id="upload-avatar" />
						</p>
						<p class="form-content-p">
							<button type="suubmit" class="btn-a">提 交</button>
						</p>
					</form>
				</div>
				<div class="form-right-box">
					<p>上传头像，做一个有头有脸的人  #^_^#</p>
				</div>
			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>