<!doctype html>
{% include 'cheshang.html' %}
<html lang="zh-cn" class="loading-html">
<head>
<title>车尚-高清图片分享社区</title>

{% include 'base.html' %}

<script type="text/javascript">
In.ready('cheshang',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()
});
</script>
<style>
</style>
</head>
<body>
	<div class="page-wrapper none">
		
        {% include 'header.html' %}

		<div class="nav-box">
			<a class="current-nav" href="me.html?type=publish">我的发布</a>
			<a href="me.html?type=fav">我的收藏</a>
			<a href="me.html?type=comment">我的评论</a>
		</div>
		
		<div class="container-wrapper">

            {% for album in album_li %}
			<div class="album-list-box">
				<div class="album-cover-img">
                    <a href="/album/{{ album.id }}" target="_blank"><img src="{{ album.cover_link }}!3"></a>
                </div>
				<div class="album-info">
					<div class="album-tit">
                        <span><a href="/album/{{ album.id }}" target="_blank">{{ album.title }}</a></span>
                    </div>
					<div class="album-count">
						<span class="count-fav">185</span>
						<span class="count-comment">96</span>
					</div>
                </div>
			</div>
            {% endfor %}

		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>
