
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="static/css/reset.css"></link>
<link type="text/css" rel="stylesheet" href="static/css/qichebook.css"></link>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/me.js"></script>
</head>
<body>
	<div class="page-wrapper">
		<div class="header-wrapper">
			<div class="user-basic-info">
				<div class="user-avatar-box">
					<img src="{{current_user.avatar}}" />
				</div>
				<div class="user-profiles-box">
					<h1 class="user-profiles-name">{{current_user.name}}</h1>
					<p class="user-profiles-jointime">2012年09月15日加入</p>
					
					<div class="count-info">
						<div class="count-info-publish">
							<span class="c-i-w">发布</span>
							<span class="c-i-n">15</span>
						</div>
						<div class="count-info-fav">
							<span class="c-i-w">收藏</span>
							<span class="c-i-n">23175</span>
						</div>
						<div class="count-info-hot">
							<span class="c-i-w">热度</span>
							<span class="c-i-n">622</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="user-count-info">
				<!--
				用户登录后的样子
				<div class="logo-bar" style="margin-top:60px">				
					<a class="s-logo" href="index.html"></a>
				</div>
				<div class="user-settings-bar" style="display: none">
					<a class="user-profiles-settings" href="settings.html">设置</a>
				</div>
				-->
				<div class="logo-bar">				
					<a class="s-logo" href="index.html"></a>
				</div>
				<div class="user-settings-bar">
					<a class="user-profiles-settings" href="/me/settings">设置</a>
				</div>
			</div>
			
		</div><!--end header-wrapper-->
		
		<div class="nav-box">
			<a class="current-nav" href="me.html?type=publish">我的发布</a>
			<a href="me.html?type=fav">我的收藏</a>
			<a href="me.html?type=comment">我的评论</a>
		</div>
		
		<div class="container-wrapper">
			
			<div class="album-list-box">
				<div class="album-cover-img"><img src="static/photo/1.jpg"></div>
				<div class="album-info"></div>
			</div>
			<div class="album-list-box">
				<div class="album-cover-img"><img src="static/photo/2.jpg"></div>
				<div class="album-info"></div>
			</div>
			<div class="album-list-box">
				<div class="album-cover-img"><img src="static/photo/3.jpg"></div>
				<div class="album-info"></div>
			</div>
			<div class="album-list-box">
				<div class="album-cover-img"><img src="static/photo/1.jpg"></div>
				<div class="album-info"></div>
			</div>
			<div class="album-list-box">
				<div class="album-cover-img"><img src="static/photo/2.jpg"></div>
				<div class="album-info"></div>
			</div>
			<div class="album-list-box">
				<div class="album-cover-img"><img src="static/photo/3.jpg"></div>
				<div class="album-info"></div>
			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>