
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="static/css/reset.css"></link>
<link type="text/css" rel="stylesheet" href="static/css/qichebook.css"></link>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/settings.js"></script>
</head>
<body>
	<div class="page-wrapper">
		<div class="header-wrapper" style="height:60px;">
			<a class="s-logo" href="index.html">汽车book</a>
			<div class="settings-header-uinfo">
				<img src="static/photo/user1.jpg" />
				<a href="">一地鸡毛</a>
			</div>
		</div><!--end header-wrapper-->
		
		<div class="nav-box" style="margin-top:30px;margin-bottom:20px;">
			<a class="current-nav" href="settings.html">基本信息</a>
			<a href="avatar.html">设置头像</a>
			<a href="sync.html">设置同步</a>
		</div>
		
		<div class="container-wrapper">
			<div class="settings-container">
				<form action="" method="post">
					<p class="form-content-p">
						<label>昵称</label>
						<input type="text" name="name" value="" class="settings-text"  />
					</p>
					<p class="form-content-p">
						<label>城市</label>
						<select name="" class="settings-select">
							<option value="">选择城市</option>
							<option value="">北京</option>
						</select>
					</p>
					<p class="form-content-p">
						<label>简介</label>
						<textarea name="desc" class="settings-textarea"></textarea>
					</p>
					<p class="form-content-p">
						<button type="suubmit" class="btn-a settings-form-btn">提 交</button>
					</p>
				</form>
			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>