<!doctype html>
<html lang="zh-cn" class="loading-html">
<head>
<title>我的车尚-高清图片分享社区</title>

{% include 'base.html' %}

<script type="text/javascript">
In.ready('cheshang','settings',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()
});
</script>
</head>
<body>
	<div class="page-wrapper none">

        {% include 'header.html' %}

		<div class="container-wrapper">
			<div class="settings-container">
				<form action="" method="post">
					<p class="form-content-p">
						<label>昵称</label>
						<input type="text" name="name" value="" class="settings-text"  />
					</p>
					<p class="form-content-p">
						<label>城市</label>
						<select name="" class="settings-select">
							<option value="">选择城市</option>
							<option value="">北京</option>
						</select>
					</p>
					<p class="form-content-p">
						<label>简介</label>
						<textarea name="desc" class="settings-textarea"></textarea>
					</p>
					<p class="form-content-p">
						<button type="suubmit" class="btn-a settings-form-btn">提 交</button>
					</p>
				</form>
			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>
