<!doctype html>
{% include 'cheshang.html' %}
<html lang="zh-cn" class="loading-html">
<head>
<title>设置 - 车尚-高清图片分享社区</title>

{% include 'base.html' %}

<script type="text/javascript">
var UPYUN={{ dumps(upyun('avatar')) }}
UPYUN.push(CONST.UPYUN.AVATAR.BUCKET, CONST.UPYUN.AVATAR.URL)

In.ready('cheshang','swf_lib','one_uploader','settings',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()
});
</script>
</head>
<body>
	<div class="page-wrapper none">

        {% include 'header.html' %}

		<div class="container-wrapper">
			<div class="settings-container margin_top_20">
                <div class="settings-l">
                <p style="padding:0 0 10px 20px;">设置个人信息：</p>
				<form action="" method="post">
					<p class="form-content-p">
						<label>昵称</label>
						<input type="text" name="nickname" value="" class="settings-text" placeholder="昵称"  />
					</p>
					<p class="form-content-p">
						<label>邮箱</label>
						<input type="text" name="nickname" value="" class="settings-text" placeholder="登录邮箱"  />
					</p>
					<p class="form-content-p">
						<label>密码</label>
						<input type="password" name="nickname" value="" class="settings-text" placeholder="新密码"  />
					</p>
					<p class="form-content-p">
						<label>简介</label>
						<textarea name="desc" class="settings-textarea"></textarea>
					</p>
					<p class="form-content-p">
						<button type="suubmit" class="btn-a settings-form-btn">提 交</button>
					</p>
				</form>
                </div>

                <div class="settings-r">
                    <p style="padding-top:30px;">设置你的头像</p>
                    <div class="settings-current-avatar"></div>
                    <span id="upload-avatar"></span>
                </div>

			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>
