<!doctype html>
{% include 'cheshang.html' %}
<html lang="zh-cn" class="loading-html">
<head>
<title>图片上传</title>
{% include 'base.html' %} 

<script>
var UPYUN={{ dumps(upyun('cheshang')) }}
UPYUN.push(CONST.UPYUN.CHESHANG.BUCKET, CONST.UPYUN.CHESHANG.URL)

In.ready('cheshang','swf_lib','swf_queue','swf_progress','swf_handlers','swf_uploader','new_album',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()
});
</script>
</head>
<body>
	<div class="page-wrapper none">
        
        {% include 'header.html' %}
		
		<div class="container-wrapper">
			<form id="album-form" action="" method="post" enctype="multipart/form-data">
			<div class="uploader-wrapper margin_top_20">
                
                <div class="album-select-box none">
                    <div class="album-select-li" data-id="111" data-name="" data-text=""><span>啊啊1</span></div>
                    <div class="album-select-li" data-id="111" data-name="" data-text=""><span>啊啊2</span></div>
                    <div class="album-select-li" data-id="111" data-name="" data-text=""><span>啊啊3</span></div>
                    <div class="album-select-li" data-id="111" data-name="" data-text=""><span>啊啊4</span></div>
                    <div class="album-select-li" data-id="111" data-name="" data-text=""><span>啊啊5</span></div>
                    <div class="album-select-li" data-id="111" data-name="" data-text=""><span>啊啊6</span></div>
                </div>
                <div class="album-select-wrapper none">
                    <div class="album-select-l none">
                        <span>上传高清车图</span>
                    </div>
                    <div class="album-select-btn">
                        <span>选择已有专辑</span>
                        <input type="hidden" name="album_id" value="0" >
                    </div>
                    {#
                    <div class="create-new-album">创建新专辑</div>
                    #}
                </div>

				<div class="uploader-header">
					<div class="uploader" id="uploader">
						<div class="uploader-button">
							<span id="file-selecter"></span>
						</div>
						<span class="uploader-notice">可以上传JPG, GIF, PNG格式图片，单张最大20M，单次最多50张。</span>
					</div>
					<div class="total-uploader-progress-box" id="total-progress">
						<span class="total-progress-tit">上传总进度：0%</span>
                        <div class="progress-wrapper">
						    <div class="total-progress"></div>
                        </div>
					</div>
					
					<div class="post-btn-box">
						<button type="submit" class="button post-button white">保存图片</button>
					</div>
				</div>
                
                <div class="new-album-info">
                    <div class="album-info-item">
                        <input type="text" name="title" value="" placeholder="专辑名称">
                        {#
                        <div class="select-exists-album">选择已有专辑</div>
                        #}
                    </div>
                    <div class="album-info-item margin_top_10">
                        <textarea name="txt" placeholder="专辑描述"></textarea>
                    </div>
                    <div class="album-info-item margin_top_10"></div>
                </div>

			    <div class="fieldset flash" id="fsUploadProgress">	
				    <div class="uploader-content" id="upload-progress-wrapper"></div>
                    {#
					<!-- 图片上传成功后显示内容
					<div class="uploader-photo-list">
						<div class="uploader-photo-imgbox">
							<img src="static/photo/4.jpg" />
						</div>
						<div class="uploader-photo-dec">
							<textarea placeholder="图片描述"></textarea>
						</div>
						<div class="uploader-photo-tools">
							<span class="photo-delete"></span>
						</div>
					</div>
					-->
			        <!--	
					<div class="puloader-ready-list">
						<span class="img-name">sdlfjasldfjsldfjsldfjasdf.jpg</span>
						<span class="cancel-img"></span>
						<span class="progress" style="width:40%"></span>
					</div>
					-->
                    #}
				</div>
				
			</div><!--end uploader-wrapper-->
			</form>
			
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>
