<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>车尚-icheshang.com</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link type="text/css" rel="stylesheet" href="/static/css/reset.css"></link>
<link type="text/css" rel="stylesheet" href="/static/css/qichebook.css"></link>
<link rel="stylesheet" href="/static/js/tips/tiptip.css" />
<script type="text/javascript" src="/static/js/conf.js"></script>

<script>
var DATAS = {
    id : {{album.id}},
    uid: 1,
    title : '{{album.title}}',
    txt : '{{album.txt}}',
    fav: 716,
    comments : 298,
    photo :[
        {% for photo in album.photos %}  
        {
            id : {{photo.id}},
            uid : 1,
            width : 0,
            height : 0,
            url : 'http://'+CONST.UPYUN.CHESHANG.URL+'/{{photo.url}}',
            url1 : 'http://'+CONST.UPYUN.CHESHANG.URL+'/{{photo.url}}!1',
            url2 : 'http://'+CONST.UPYUN.CHESHANG.URL+'/{{photo.url}}!2',
            url3 : 'http://'+CONST.UPYUN.CHESHANG.URL+'/{{photo.url}}!3',
            url4 : 'http://'+CONST.UPYUN.CHESHANG.URL+'/{{photo.url}}!4',
            {#
            dec : '{{ photo.title|e }}',
            #}
            comment_nums : 0,
            fav_nums : 0
        },
        {% endfor %}
    ]
}

var ALBUM = JSON.stringify(DATAS)
</script>

<script type="text/javascript" src="/static/js/in.js" autoload="true" core="/static/js/jquery.min.js"></script>

<script type="text/javascript">
var timenow = new Date().getTime();
In.add('view',{ path:'/static/js/view.js?'+timenow,type:'js',charset:'utf-8',rely:['easing','tips']});
In.add('share',{ path:'/static/js/lib/share.js',type:'js',charset:'utf-8' });
In.add('tips',{ path:'/static/js/tips/jquery.tiptip.js',type:'js',charset:'utf-8' });
In.add('easing',{ path:'/static/js/jquery.easing.1.3.js',type:'js',charset:'utf-8' });

In.later(100,'view','share','easing','tips',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()

    var ALBUM = new ICHESHANG
    ALBUM.photoView()
});
</script>

<style>html{overflow:hidden;}</style>
<style>
html{height:100%;width:100%;background:#ddd url('/static/imgs/loader.gif') no-repeat center 40%}
</style>
</head>
<body>
	<div class="page-wrapper none">
		<div class="photo-content-wrapper">
			
			<div class="msg photo-view-msg-box">
				<div class="photo-view-msg-ico"></div>
				<div class="photo-view-msg-word">图片开小差了，没能加载成功。</div>
				<button class="re-get-image">重新获取图片(R)</button>
			</div><!--end msg-box -->
			
			
			<div class="photo-view-comment-box none">
				<div class="photo-view-comment-content">
					<div class="comment-post-box">
						<div class="comment-post-textarea">
							<textarea id="comment-post"></textarea>
							<button id="post-comment-btn">发表</button>
						</div>
					</div>
					
					<div class="comment-list-box">
						<div class="comment-list">
							<div class="user-avatar"><img src="/static/photo/user1.jpg" /></div>
							<div class="comment-info">
								<div class="comment-attr">
									<span class="comment-user-name"><a href="">一地鸡毛</a></span>
									<span class="comment-time">10分钟以前</span>
									<span class="comment-reply tips-left" title="回复"></span>
								</div>
								<div class="comment-content">
									<div class="comment">这车真心碉堡了，改天去搞一辆~~</div>
								</div>
							</div>
						</div>
						
						<div class="comment-list">
							<div class="user-avatar"><img src="/static/photo/user1.jpg" /></div>
							<div class="comment-info">
								<div class="comment-attr">
									<span class="comment-user-name"><a href="">阿呆</a></span>
									<span class="comment-time">10分钟以前</span>
									<span class="comment-reply tips-left" title="回复"></span>
								</div>
								<div class="comment-content">
									<div class="comment">这车真心碉堡了，改天去搞一辆~~，艾萨拉了思考的房间阿了思考的房间艾斯黛拉飞</div>
								</div>
							</div>
						</div>
						
						<div class="comment-list">
							<div class="user-avatar"><img src="/static/photo/user1.jpg" /></div>
							<div class="comment-info">
								<div class="comment-attr">
									<span class="comment-user-name"><a href="">普通青少年</a></span>
									<span class="comment-time">10分钟以前</span>
									<span class="comment-reply tips-left" title="回复"></span>
								</div>
								<div class="comment-content">
									<div class="comment">太酷了太酷了！哥凌乱了……</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div><!--end comment-box-->
			
			
			<div class="photo-content">
				<div class="msg photo-loading"><span>加载中...</span></div>

                <div class="photo-end-recommend">
                    <div class="photo-end-tit"><span>专辑已经看完了</span></div>
                    <div class="photo-end-content">
                        <div class="photo-end-fav-box">收藏该专辑</div>
                        <div class="photo-end-bottom">
                            <div class="photo-end-btn photo-end-restart tips-top" title="再看一遍"></div>
                            <div class="photo-end-btn photo-end-close tips-top" title="关闭"></div>
                        </div>
                    </div>
                </div><!--end end_recommend-->

				<div class="photo-previous"></div>
				<div class="photo-next"></div>
				
				<img src="/static/imgs/1px.png" pid="0" class="photo" />
				
				
			</div>
			
			<div class="photo-list">
				<div class="photo-list-title">
					<span class="photo-list-title-word">全部图片 ({{ album.photos|length }}张)</span>
					<span class="close-photo-list"></span>
				</div>
				<div class="photo-list-container">
					<div class="photo-list-loader">loading...</div>
				</div>
			</div>
			
		</div><!--end photo-content-wrapper -->
		
		
		<div class="open-photo-list-mod tips-right" title="列表模式查看"></div><!--end open-photo-list-mod-->
		
		
		<!--专辑list-mod-->
		<div class="photo-list-mod-wrapper">
			<div class="photo-list-mod-box">
				<div class="close-photo-list-mod tips-right" title="关闭列表模式"></div>
				<div class="photo-list-mod-backtop tips-right" title="回到顶部"></div>
				
				<div class="photo-list-mod-content">
					<div class="photo-list-mod-for-getheight">
                    {% for photo in album.photos %}
                    <div class="p-l-m-item" src="http://cheshang.b0.upaiyun.com/{{ photo.url}}!4">
                        <div class="photo-list-comment-box">
                            <div class="p-l-comment-topbar">
                                <div class="p-l-comment-tit">{{ photo.title }}</div>
                                <div class="p-l-comment-count">
                                    <div class="p-l-count-fav tips-left" title="收藏该图片" pid="{{photo.id}}"><span></span>59收藏</div>
                                    <div class="p-l-count-comment tips-left" title="展开评论" pid="{{photo.id}}"><span></span>83评论</div>
                                </div>
                            </div>
                            <div class="photo-list-comment-list none" id="p-l-c-box-{{photo.id}}">
                                <div class="p-l-comment-post-box">
                                    <a class="/me"></a>
                                    <input type="text" id="p-l-comment-post-{{photo.id}}" value="" />
                                    <button type="submit" class="p-l-comment-btn"></button>
                                </div>

                                <div class="p-l-c-list">
                                    <div class="p-l-c-list-avatar" style="background:url('/static/photo/user1.jpg') no-repeat center center;"></div>
                                    <div class="p-l-c-list-contents">
                                        <p>我马拉萨的覅空间萨拉的开房alsdkfjsldk拉开撒地方就间</p>
                                        <span id="reply-001"></span>
                                    </div>
                                </div>

                                <div class="p-l-c-list">
                                    <div class="p-l-c-list-avatar" style="background:url('/static/photo/user1.jpg') no-repeat center center;"></div>
                                    <div class="p-l-c-list-contents">
                                        <p>我马拉萨的覅空间萨拉的开房alsdkfjsldk拉开撒地方就间</p>
                                        <span id="reply-001"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
				</div>
			</div>
		</div><!--end photo-list-mod-wrapper-->
		
		
		<div class="tools-bar">
			<a href="/" class="view-logo"></a>
            
            <div class="view-publisher-info">
                <a href="/me" class="view-me-avatar tips-left" title="发布者：一地鸡毛" target="_blank">
                    <img src="http://cheshang.b0.upaiyun.com/a339cd6a312069bcf6f9eabca9b9ebb1!1" />
                </a>
                <div class="view-publisher-count">有35个专辑</div>
            </div>
			
			<div class="p-view-sns-bar">
				<div class="photo-view-btn view-fav tips-left" title="收藏这张图">
					<span class="ico-icon"></span>
					<span class="ico-word">3206</span>
				</div>
				<div class="photo-view-btn view-comment tips-left" title="查看评论">
					<span class="ico-icon"></span>
					<span class="ico-word">224</span>
				</div>
			</div>

            <div class="view-share-box share-list" data-img="" data-title="">
                <a href="" class="share-sina tips-left" data-site="weibo" target="_blank" title="分享到新浪微博" onclick="return SocialShareButton.share(this)"></a>
                <a href="" class="share-renren tips-left" data-site="renren" target="_blank" title="分享到人人网" onclick="return SocialShareButton.share(this)"></a>
                <a href="" class="share-qq tips-left" data-site="qq" target="_blank" title="分享到QQ空间" onclick="return SocialShareButton.share(this)"></a>
                <a href="" class="share-douban tips-left" data-site="douban" target="_blank" title="分享到豆瓣" onclick="return SocialShareButton.share(this)"></a>
            </div>
			
		</div>
	</div><!--end page-wrapper-->
</body>
</html>
