<!doctype html>
{% include 'cheshang.html' %}
<html lang="zh-cn" class="loading-html">
<head>
<title>登陆-车尚-高品质汽车图片分享社区</title>
{% include 'base.html' %}
<script type="text/javascript">
In.ready('auth',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()
});
</script>
<style>
html{height:100%;width:100%;background:url('static/imgs/loader.gif') no-repeat center 40%}
</style>
</head>
<body>
	<div class="page-wrapper" style="display: none">
		<div class="header-wrapper">
			<div class="header-container">
				<a href="/" class="logo">汽车时尚</a>
				<a href="/signup" class="a-btn auth-station">注 册</a>
			</div>
		</div><!--end header-wrapper-->
		
		<div class="container-wrapper" style="width:950px">
			<h1 class="auth-tit">登陆</h1>
			<div class="auth-wrapper">
				<form action="" method="post">
					<p class="text-content">
						<label>邮箱：</label>
						<input type="text" name="u" value="" class="auth-text" />
						<span class="auth-notice notice-error"></span>
					</p>
					<p class="text-content">
						<label>密码：</label>
						<input type="password" name="p" value="" class="auth-text" />
						<span class="auth-notice"><a href="">忘记密码？</a></span>
					</p>
					
					<p class="text-content">
						<input type="submit" class="btn auth-btn" value="登 陆" />
					</p>
				</form>
				<div class="che-logo" style="top:240px">
					<img src="static/photo/car.png" />
				</div>
			</div>
		</div><!--end container-wrapper-->
		
	</div><!--end page-wrapper-->
</body>
</html>
