<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link type="text/css" rel="stylesheet" href="static/css/reset.css"></link>
<link type="text/css" rel="stylesheet" href="static/css/qichebook.css"></link>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/jquery.masonry.min.js"></script>
<script>
$(document).ready(function(){
	var $container = $('.album-container');
	$container.imagesLoaded( function(){
	  $container.masonry({
	    itemSelector : '.album-photo-list'
	  });
	});
	
	$('.album-photo-list').hover(
		function(){
			$(this).find('.album-new-window').fadeIn();
		},
		function(){
			$(this).find('.album-new-window').fadeOut();
		}
	);
});
</script>
</head>
<body>
	<div class="page-wrapper">
		<div class="header-wrapper">
			<div class="header-container">
				<a href="/" class="logo">icheshang.com 汽车时尚</a>
				<div class="album-fav-bar">
					<span class="s-ico"></span>
					<span class="s-word">收藏该专辑</span>
				</div>
			</div>
			
		</div><!--end header-wrapper-->
		
		<div class="container-wrapper margin_top_20">
		
			<div class="album-container">
				<div class="album-photo-list album-info-box">
					<div class="album-info-in">
						<div class="album-count-info">
							<p class="album-info-tit">超霸气兰博基尼LP-700，牛逼的不只是外表，再次证明：牛逼总是一脉相传。</p>
							<p class="album-info-datas">
								<span>1800收藏</span>
								<span>529评论</span>
							</p>
						</div>
						<div class="album-user-info">
							<a href="" id="album-user-avatar"><img src="static/photo/user1.jpg" /></a>
							<p><a href="">一地鸡毛</a> @2012-11-18创建</p>
						</div>
					</div>
				</div>

				<div class="album-photo-list">
					<a href="view"><img src="static/photo/1.jpg"></a>
					<div class="album-new-window" title="新窗口查看"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/2.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/3.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
							<p></p>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/1.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/2.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/3.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/1.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/2.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/1.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/2.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
				<div class="album-photo-list">
					<a href="view"><img src="static/photo/3.jpg"></a>
					<div class="album-new-window"><a href="" target="_bllank"></a></div>
				</div>
			</div>
		</div><!--end container-wrapper-->
	</div><!--end page-wrapper-->
</body>
</html>
