<!doctype html>
{% include 'cheshang.html' %}
<html lang="zh-cn" class="loading-html">
<head>
<title>车尚-高品质汽车图片分享交流社区</title>

{% include 'base.html' %} 

<script type="text/javascript">
In.ready('cheshang','lazyload','tmpl','easing','scroll',function(){
	$('html').css('background-image','none')
	$('.page-wrapper').fadeIn()
    $('.album-list-box img').lazyload({
        effect : "fadeIn"
    })
});
</script>
<style>
</style>
</head>
<body>
	<div class="page-wrapper" style="display: none">

	    {% include 'header.html' %}	

		<div class="container-wrapper" style="padding-top:10px;">

			<div class="recommend-box none">
				<div class="cheshang-info">
                    <img src="/static/imgs/cheshang-info.png">
				</div>
				<div class="album-cover-img">
					<a href="album.html">
                        <img src="/static/photo/bg4.jpg" width="1100">
                    </a>
				</div>
			</div>

        {% for album in album_li %}
			<div class="album-list-box">
				<div class="album-cover-img" w="" h="" style="background:url('/static/imgs/loader.gif') no-repeat center center">
					<a href="/album/{{ album.id }}" target="_blank">
                        <img src="/static/imgs/transparent.gif" data-original="{{ album.cover_link }}!3">
                    </a>
				</div>
				<div class="album-info">
					<div class="album-tit">
                        <span><a href="/album/{{ album.id }}" target="_blank">{{ album.title }}</a></span>
                    </div>
					<div class="album-count">
						<span class="count-fav" title="185人收藏">185</span>
						<span class="count-comment" title="96条评论">96</span>
					</div>
				</div>
			</div>
        {% endfor %}

		</div><!--end container-wrapper-->
		
		<div class="pagination-wrapper">
			<div class="pagination pagination-centered">

                {{ page }}

                {#
				<ul>
					<li class="disabled"><a href="#">上一页</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">下一页</a></li>
				</ul>
                #}
			</div>
		</div><!--end pagination-->
		
		<div class="load-more-album"></div>
		
	</div><!--end page-wrapper-->
</body>
</html>
